.rep {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
  }
  
  .Createp {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .topbarcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .topbartext {
    font-size: 24px;
    font-weight: bold;
    color: #2C3E50;
  }
  
  .searchbar {
    display: flex;
    align-items: center;
    background: #ecf0f1;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0;
  }
  
  .searchIcon {
    color: #2C3E50;
    margin-right: 10px;
  }
  
  .searchInput {
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    width: 100%;
  }
  
  .table {
    overflow-x: auto;
  }
  
  .table caption-top {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  thead th {
    background: #2C3E50;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  tbody tr {
    border-bottom: 1px solid #ecf0f1;
  }
  
  tbody td {
    padding: 10px;
    color: #2C3E50;
  }
  
  tbody tr:nth-child(even) {
    background: #ecf0f1;
  }
  
  button {
    background: #2C3E50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background: #34495E;
  }
  