.form-container {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.form-content {
  background-color: #f9f9f9;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.form-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {

  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.selecttool {
  background-color: #28972a;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
}

.submit,
.cancel {
  background-color: #3d5cf4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.cancel {
  background-color: #dc3545;
  
}

.submit:hover,
.cancel:hover,
.selecttool:hover {
  opacity: 1;
}
