.header{

    transition: all 0.5s;
    z-index:997;
    height: 40px;
    box-shadow: 0px 2px 20px rgba(1,41,112,0.1);
    background-color: #fff;
    padding-left: 10px;
    margin-bottom: auto;
}

/*toggle Side bar Button*/
.header .toggle-siderbar-btn{

    font-size: 32px;
    padding-left: 5%;
    cursor:pointer;
    color: #21437c;
}