.container{
    display: flex;
    
}
.sidebar{

    background: #000137;
    color: #fff;
    height: 800px;
    width: 300px;
    transition: all 0.6s;
}
.Role{

    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    text-align: center;
    
}

.name{
    font-size: 120%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    margin-bottom: 2rem;
}

.profile{
    display: flex;
    width: 10rem;
    align-items:center;
    border-radius: 80%;
    margin-bottom: 1rem;
    align-self:flex-start;
}

.profile>img{
    width: 100%;
    border-radius: 50%;
    align-items:center;
}

.button{
    background-color: aqua;
    align-items: left;
}

.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}