.updateform {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: #f4f7f6;
  border-radius: 8px;
  margin-top: 5rem;
}

.updateform h2 {
  text-align: center;
  margin-bottom: 20px;
}

.updateform .form-label {
  font-weight: bold;
}

.updateform .form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #b4b2b2;
  border-radius: 5px;
}

.updateform .update-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.updateform .update-btn:hover {
  background: #0056b3;
}

.updateform .btn-cancel {
  display: block;
  width: 100%;
  padding: 10px;
  background: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.updateform .btn-cancel:hover {
  background: #c82333;
}
