.updateform {
  margin: 0 auto; /* Center horizontally */
  max-width: 500px; /* Adjust width as needed */
  padding: 20px;
}

/* Style for the form header */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Style for form inputs */
.form-label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 15px;
}

/* Style for buttons */
.btn {
  width: 100px;
  margin-top: 20px;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-primary:hover,
.btn-outline-danger:hover {
  color: #fff;
  background-color: transparent;
}
