/* managestock.css */

/* Style for stock-content */
.stock-content {
  padding: 20px;
}

.table-container{
  max-height: 400px;
  overflow: auto;
}
/* Style for table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}

/* Style for table head */
.table th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
}

/* Style for table data */
.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Style for view button*/
.btn-view{
  background-color: #1e94e9;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

/* style for edit button*/
.btn-edit{
  background-color: #e9d81e;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

/* style for delete button*/
.btn-delete{
  background-color: #e9281e;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

/* Style for add button */
.btn-add{
  background-color: #0dc60d;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

