.tablesection{
  padding: 20px;
  max-height: 400px;
  overflow: auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.btnAdd {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}

.btnRemove {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
}

.btnAdd:hover,
.btnRemove:hover {
  opacity: 0.8;
}

/* Style for the tool section */
.toolsection {
  padding: 20px;
}

.toolsection h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
