@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background: url('../../src/images/back1.jpg') no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the background is behind other content */
}

.wrapper {
    width: 80%;
    max-width: 500px;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 50px;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper .input-box {
    position: relative;
    width: 80%;
    height: 50px;
    margin: 20px 0;
    margin-left: 4rem;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: 1rem;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper button {
    width: 60%;
    height: 45px;
    background: #39d7ff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-left: 7rem;
    margin-top: 3rem;
}

.wrapper h1.name {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    align-content: right;
    color: rgb(255, 255, 255);
    margin-top: 3rem;
}

.wrapper .englogo {
    display: flex;
    align-self: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: 3rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

.d-flex {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2rem;
    text-align: center;
    color: #ffffff;
}

.d-flex .form-select {
    color: #bb233d;
    font-size: 13px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .wrapper {
        width: 90%;
        padding: 40px;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        width: 95%;
        padding: 30px;
    }
}
