.container-fluid {
  display: flex;
  flex-direction: row;
}



.main-content {
  margin-left: 250px; /* This should match the width of the sidebar */
  padding: 20px;
  flex-grow: 1;
}

.table-container {
  overflow-x: auto;
}
